@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .marquee {
    animation: marquee 10s linear infinite;
  }
  
  .marquee:hover {
    animation-play-state: paused;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@layer utilities {
  .animation-paused {
    animation-play-state: paused;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
